div {
    width: 200px;
    height: 200px;
    background-color: gray;
    color: red;
}
div.hidden {
    display: none;
}
div.B {
    text-align: center;
    color: green;
}
div.C {
    float: right;
}

span.SA {
    float: right;
}